git.sh
# Terraform directories
# Terraform directories and state
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars       # real variable files
terraform/terraform.tfstate.d/
terraform/.terraform.lock.hcl
# Environment files
terraform/envs/*  

# Crash logs
crash.log

# Sensitive files
.env
*.pem
*.key

# OS / Editor files
*.swp
*.DS_Store
Thumbs.db
.idea/
.vscode/

